{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Asset Group Report</h2>
{% for asset_group in asset_groups %}
<h3>
    {{ asset_group.name }}
    <a href="{% url 'AssetGroup-update' asset_group.id %}"><img src="{% static '/images/edit-text.png' %}"
            style="height:20px; margin-left: 2px;" alt="Update" title="Update Asset Group"></a>
    <a href="{% url 'AssetGroup-delete' asset_group.id %}"><img src="{% static '/images/deleteicon.png' %}"
            style="height:20px; margin-left: 2px;" alt="Delete" title="Delete Asset Group"></a>

</h3>
<table>
    <thead>
        <tr>
            <th>Asset Name</th>
            <th>Asset Code</th>
            <th>Asset Model Number</th>
            <th>Asset Status</th>
            <th>Employee Name</th>
        </tr>
    </thead>
    <tbody>
        {% for asset in asset_group.assets.all %}
        <tr>
            <td>{{ asset.name }}</td>
            <td>
                <span style="float: left;">{{ asset.asset_code }}</span>
                <span style="float: right;"><a href="{% url 'update_asset' asset.id %}"><img
                            src="{% static '/images/edit-text.png' %}" style="height:20px; margin-left: 2px;"
                            alt="Update" title="Update/Delete Asset"></a></span>
            </td>
            <td>{{ asset.asset_model_number }}</td>
            <td class="change-color">{{ asset.status}}</td>
            <td>
                {% if asset.allocations %}
                {{asset.allocations.employee_name}}
                <span style="float: right;"><a href="{% url 'allocate_asset' asset.id %}"><img
                            src="{% static '/images/edit-text.png' %}" style="height:20px; margin-left: 2px;"
                            alt="Update" title="Update Asset Allocation"></a></span>
                {% else %}
                Office
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}