{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Asset Code</th>
                <th>Asset name</th>
                <th>Asset Status</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets %}
            <tr>
                <td>
                    <span style="float: left;">{{asset.asset_code}}</span>
                    <span style="float: right;"><a href="{% url 'update_asset' asset.id %}"><img
                        src="{% static '/images/edit-text.png' %}" style="height:20px; margin-left: 2px;"
                        alt="Update" title="Update/Delete Asset"></a></span>
                </td>
                <td>{{asset.name}}</td>
                <td class="change-color">{{asset.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="margin-top: 20px;">
        <a href="{% url 'add_new_asset' %}">
            <button>Add New Asset</button>
        </a>
    </div>

    <br><br>
    <div class="pagination">
        <span class="step-links">
            {% if page_number > 1 %}
                &laquo; <a href="?page=1">First</a>
                <a href="?page={{ page_number|add:'-1' }}">Prev</a>
            {% endif %}
    
            <span class="current-page">{{ page_number }}</span>
    
            {% if has_more_records %}
                <a href="?page={{ page_number|add:'1' }}">Next</a>
                <a href="?page={{last}}">Last</a> &raquo;
            {% endif %}

            
        </span>
    </div>

{% endblock %}